.room1keyframe {
    display: block;
    z-index: -1;
    position: absolute;
}

.key {
    display:flex;
    width: 50px;
    top: 155px;
    left: 405px;
    position: absolute;
}

.door {
    display:flex;
    left: 509px;
    top: 110px;
    position: absolute;
}